{% extends "requestmeal/base.html" %}

{% block title %}
|| Share A Swipe!
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<div class="p-4 p-md-5 mb-4 text-bg-dark" style='border-bottom-right-radius:5px; border-bottom-left-radius:5px;'>
  <div class="container">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Share A Swipe!</h1>
    <p class="lead my-3">
      Providing students in need a streamlined, convinient, and reliable way to access free meals.
    </p>
  </div>
  </div>
</div>


<div class="container">

<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      About the Program
    </h3>

    <article class="blog-post">
      <h2 class="blog-post-title mb-1">Share A Swipe!</h2>
      <p>
        Food insecurity has historically been a prevalent and ever-increasingly problem among college students in the United States. According to a 2019 study, 45% of students surveyed from over 100 institutions reported that they had been food insecure in the past 30 days. Students at NYU are no exception– in 2018, over one fifth of the student body reported financial hardship affording food.
        <br><br>
        The COVID-19 pandemic has only exacerbated the matter of food insecurity among college students. In fall 2020, roughly a year into the pandemic, 52% of students occasionally used off-campus food banks, while 30% used them on a monthly or higher basis.
        <br><br>
        Despite the increasing need given the hardships endured during a pandemic, NYU has struggled to provide adequate food assistance for its students. Previously existing programs have been temporarily suspended due to the pandemic, while those that remain cannot effectively meet the increased demand., Most famously, in 2020, NYU failed to handle meal delivery to over 2,600 returning students in quarantine, leaving many students with improper meals or without food at all.
        <br><br>
        The <i>Share a Swipe</i> Program aims to be a software-based solution that resolves the crisis of food insecurity at NYU by providing students their own streamlined, easy, and reliable access to free meals.

      </p>

      <br><hr>
    </article>
    <article class="blog-post">
      <h2 class="blog-post-title mb-1">How it Works</h2>
      <p>
        Our team wanted to create a platform that automatically distributes unused NYU meal swipes and dining dollars to students who need them.
        Specifically, the application will keep track of the quantity of purchased meal swipes and dining dollars for the semester.
        By the end of the semester, if there are less swipes and dining dollars used than purchased, the application will collect and distribute them for donation.
        <br><br>
        Currently the system requires spending time and resources advertising it, students to take the time manually calculating how many swipes are needed to complete the semester, and manual entry of donations using NYU Eats.
        Automatic donor enrollment ensures the maximum number of swipes are donated and nothing gets wasted.
        Students in need will be able to create donee accounts through their existing NYU Eats profiles. Integration with the NYU Eats platform streamlines donee access, ensures system security, and provides all necessary dining information.


      </p>
      <br><hr>
    </article>
    <article class="blog-post">
      <h2 class="blog-post-title mb-1">Eligibility</h2>
      <p>
        All NYU students, undergraduate and graduate, are encouraged to register for an account and apply to become members of the program.
        Due to our compliance with FERPA regulations, student qualification for donated meal swipes is determined on a case by case basis by
        the NYU financial aid team.

        <br><br>
        If you have any inquiries about your elibility, you can email them at <a href="mailto:financial.aid@nyu.edu"> financial.aid@nyu.edu</a>,
        or reach out to the Division of Student Affairs at <a href='mailto:student.affairs@nyu.edu'>student.affairs@nyu.edu</a>.
      </p>
      <br><hr>
    </article>





  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">Sign Up or Log In</h4>
        <div class="container p-2">
          <p class="mb-0">
            Register to become a member, or log in to access your Share A Swipe account details.
          </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="{% url 'login'%}" class="btn btn-primary me-md-2" role="button">Log In</a>
          <a href="{% url 'meal-register'%}" class="btn btn-primary me-md-2" role="button">Sign Up</a>
          <!-- <a class="btn btn-sm btn-outline-secondary" href="{% url 'meal-register'%}">Sign up</a> -->
        </div>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Additional Help & Resources</h4>
        <ol class="list-unstyled">
          <!-- <br> -->
          <li class='p-2'>
            <a target="_blank" style='font-weight: bold;' href="https://www.nyu.edu/students/student-information-and-resources/courtesy-meals.html">NYU Courtesy Meals</a>
            <br> An NYU-based Emergency Food Assistance program.
          </li>

          <li class='p-2'>
            <a target="_blank" style='font-weight: bold;' href="https://www.collegestudentpantry.org/">College Student Pantry</a>
            <br> Any NYC college student, graduate or undergraduate, is eligible to use this food pantry.
          </li>

          <li class='p-2'>
            <a target="_blank" style='font-weight: bold;' href="https://www.fns.usda.gov/snap/students">SNAP Benefits</a>
            <br> The Supplemental Nutrition Assistance Program (SNAP) is a federally funded nutrition assistance program.
          </li>
        </ol>
      </div>

      <div class="p-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">More Info</strong>
            <h3 class="mb-0">Check out our whitepapers</h3>
            <div class="mb-1 text-muted">
            Meet the team and learn more about how our solution aims to solve food indescurity at NYU. </div>

            <a target="_blank" href="https://www.canva.com/design/DAE_z6h9Eps/QvSrsOk7RHwBm5LIjXMU-A/view?utm_content=DAE_z6h9Eps&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" class="stretched-link">Go to whitepapers. ></a>
          </div>
          <div class="col-auto d-none d-lg-block">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<a class="nav-link" download href="../../static/requestmeal/reports/semester_donations.csv">
  <span data-feather="file-text" class="align-text-bottom"></span>
  Semesterly donation histrory
</a>

{% endblock %}
