{% extends "requestmeal/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
|| Welcome
{% endblock %}

{% block style %}
{% endblock %}

{% block stylesheets %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
{% endblock %}


{% block content %}

<div class="p-4 p-md-5 mb-4 text-bg-dark" style='border-bottom-right-radius:5px; border-bottom-left-radius:5px;'>
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Share a Swipe! Manager</h1>
    <p class="lead my-3">
      Manage student program enrollment, assign donation allowances, and view
      data analyses and program statistics.
    </p>
  </div>
</div>

<div class="container-fluid">


  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'meal-adminpage'%}">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'meal-requestlist'%}">
              <span data-feather="file" class="align-text-bottom"></span>
              <!-- fill in with jinja count of number of requests-->
              Requests
              <span class="badge bg-danger rounded-pill">{{ num }}</span>

            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart" class="align-text-bottom"></span>
              Products
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'meal-studentlist'%}">
              <span data-feather="users" class="align-text-bottom"></span>
              Students
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'meal-adminaccept'%}">
              <span data-feather="users" class="align-text-bottom"></span>
              Allocate Donations
            </a>
          </li>


          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Reports
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers" class="align-text-bottom"></span>
              Integrations
            </a>
          </li> -->
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <!-- <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a> -->
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" download href="../../static/requestmeal/reports/current_semester_bank.csv">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Current semester bank
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" download href="../../static/requestmeal/reports/Semesterly_Donation_History.pdf">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Semesterly donation history
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="row">
        <div class="col">
          <div class="h-100 p-5 bg-light border rounded-3">




            <div class="py-5 text-center">
              <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
              <h2>Accept and Enroll Student</h2>
              <!-- <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
            </div>

            <div class="row g-5">

              <div class="col-md-5 col-lg-4 order-md-last">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-secondary">Fall 2022 Remaining Undistributed Donations</span>
                </h4>
                <table class="table table-bordered table-striped rounded">
                  <thead>
                    <tr>
                      <th scope="col">Meal Swipes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!-- use {{meal_swipes}} and {{dining_dollars}} to fill in table-->
                      <td>{% for s in stuff %}
                        {{ s.MS }}
                        {% endfor %}</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-bordered table-striped rounded">
                  <thead>
                    <tr>
                      <th scope="col">Dining Dollars</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!-- use {{meal_swipes}} and {{dining_dollars}} to fill in table-->
                      <td>${% for s in stuff %}
                        {{ s.DD }}
                        {% endfor %}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-7 col-lg-8 h-100 p-5 border border-secondary rounded-1">
                <h4 class="mb-3">Donation Information</h4>
                <form class="needs-validation" novalidate method = "POST">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      {% csrf_token %}
                      {{ a_form|crispy }}

                  <button class="w-100 btn btn-primary btn-lg" type="submit">Donate</button>
                </form>
              </div>


            </div>


          </div>
        </div>
      </div>


    </main>
  </div>
</div>


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="../static/js/dashboard.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="../static/js/dashboard.js"></script>

{% endblock %}
