{% extends "requestmeal/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
|| Share A Swipe!
{% endblock %}

{% block style %}
{% endblock %}

{% block stylesheets %}
<!-- <link href="../static/css/signin.css" rel="stylesheet"> -->
<!-- <link href="../static/css/bootstrap-grid.css" rel="stylesheet"> -->
{% endblock %}


{% block content %}

<div class="p-4 p-md-5 mb-4 text-bg-dark" style='border-bottom-right-radius:5px; border-bottom-left-radius:5px;'>
  <div class="container">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Log In to Share a Swipe</h1>
    <p class="lead my-3">[Caption about the program, and we'll spend the rest of this page with program info.]</p>
  </div>
  </div>
</div>


<div class="container">
    <!-- <div class="starter-template"> -->

      <div class="row justify-content-center">
        <br><br>
        <div class="row"></div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4 h-100 p-5 bg-light border rounded-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In to Share A Swipe</legend>
                    {{ form|crispy }}
                </fieldset>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary me-md-2" type="submit" style='text-align:right'>Login</button>
                </div>
            </form>
            <br>
            <small> Dont have an account yet? <a href="{% url 'meal-register'%}">Sign up here.</a></small>

          </div>
          <div class="col-4"></div>
        </div>
        <div class="row"></div>
      </div>

    <!-- </div> -->
  </div>

{% endblock %}
